div {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container-item {
  display: flex;
  flex-direction: column;
}

.container-item button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: #00ddff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.container-item button:hover {
  background: #0000ff;
  transition: 1s ease-in-out;
}

.container-input {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.container-input input {
  width: 200px;
  height: 30px;
  border: 2px solid #0000ff;
}

.container-input input::placeholder {
  color: #0000ff;
}

.container-input input:focus {
  color: #0000ff;
}
